/*SASS*/
/*import*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.map-ubication {
  width: 100%;
}

/*components*/
#hero {
  background-image: url("../img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
#hero .background-nav {
  background-color: #3c1b2e;
  padding: 15px 5px;
}
#hero .background-nav .container-fluid .brand-color {
  color: #fff;
  font-weight: 600;
}
#hero .content {
  width: 100%;
  height: auto;
  margin: 120px 0 0 0;
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (max-width: 768px) {
  #hero .content .content {
    padding: 0px;
  }
}
#hero .content h1 {
  text-align: center;
  color: #fff;
  font-size: 55px;
}
@media only screen and (max-width: 768px) {
  #hero .content h1 {
    font-size: 35px;
  }
}
#hero .content .content-btn {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 15px 0 0 0;
}
#hero .content .content-btn a {
  width: 100%;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
#hero .content .content-btn a:hover {
  background-color: #3c1b2e;
  border: 2px solid #3c1b2e;
}

footer {
  width: 100%;
  padding: 30px 0px;
  background-color: #3c1b2e;
}
footer .container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
footer .container-footer .box-footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer .container-footer .box-footer .logo {
  color: #fff;
}
footer .container-footer .box-footer .logo-text {
  max-width: 350px;
  margin-top: 3px;
  font-weight: 500;
  color: rgb(216, 216, 216);
  font-size: 18px;
}
footer .container-footer .box-footer h2 {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 500;
}
footer .container-footer .box-footer a {
  margin-top: 10px;
  color: rgb(216, 216, 216);
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
footer .container-footer .box-footer a .fab {
  font-size: 26px;
  color: #fff;
}
footer .container-footer .box-footer a:hover {
  color: #fff;
  transform: scale(1.1);
}
footer .box-copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
footer .box-copyright p {
  margin-top: 20px;
  color: rgb(216, 216, 216);
}
footer .box-copyright hr {
  border: none;
  height: 1px;
  background-color: #fff;
}

.background-nav {
  background-color: #3c1b2e;
  padding: 15px 5px;
}
.background-nav .container-fluid .brand-color {
  color: #fff;
  font-weight: 600;
}

#offers {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #3c1b2e;
}
#offers .offers-title h2 {
  font-size: 30px;
  color: #fff;
  padding-top: 65px;
  padding-left: 20px;
  text-align: center;
}
#offers .offers-title p {
  font-size: 17px;
  color: #fff;
  padding-left: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #offers .offers-title {
    padding-right: 20px;
  }
}
#offers .offers-flex {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  padding: 40px 20px;
}
#offers .offers-flex .offer-box {
  background-color: rgb(255, 255, 255);
  margin: 15px 0px;
  padding: 15px;
  width: 360px;
  height: 380px;
  border-radius: 5px;
  text-align: center;
}
#offers .offers-flex .offer-box i {
  font-size: 65px;
  color: #000;
}
#offers .offers-flex .offer-box h3 {
  font-size: 17px;
  color: #000;
  text-align: center;
  margin-top: 32px;
}
#offers .offers-flex .offer-box .offer-box p {
  font-size: 15px;
  color: #000;
  text-align: center;
  margin-top: 75px;
}

#services {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
}
#services .services-title h2 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding-top: 65px;
  padding-left: 20px;
  text-align: center;
}
#services .services-title p {
  font-size: 17px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #services .services-title {
    padding-right: 20px;
  }
}
#services .services-flex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  padding: 40px 20px;
}
#services .services-flex .service-box {
  background-color: #3c1b2e;
  margin: 15px 0px;
  padding: 15px;
  width: 360px;
  height: 380px;
  border-radius: 5px;
  text-align: center;
}
#services .services-flex .service-box h3 {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 52px;
}
#services .services-flex .service-box p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 75px;
}

#about {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 0px 30px 30px 30px;
}
#about .about-title {
  width: 100%;
  color: #3c1b2e;
  font-size: 30px;
  text-align: center;
  padding-top: 65px;
}
#about .about-description {
  text-align: center;
  margin: 55px 20px 20px 20px;
}
#about .about-description p {
  color: rgb(0, 0, 0);
  font-size: 17px;
  letter-spacing: 1px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 35px;
}
#about .about-description img {
  width: 40%;
  height: 40%;
  border: 5px solid #3c1b2e;
  filter: drop-shadow(0 12px 5px rgba(0, 0, 0, 0.5));
}
@media only screen and (max-width: 768px) {
  #about .about-description img {
    display: none;
  }
}

/* Menu Section */
#menu {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0px 10px 30px 10px;
}
#menu .menu-title {
  font-size: 30px;
  color: #3c1b2e;
  text-align: center;
  padding-top: 65px;
}
#menu .menu-text {
  font-size: 16px;
  color: #000;
  text-align: center;
}
#menu .card-container {
  padding: 20px 10px;
  flex-wrap: wrap;
}
#menu .card-container .card {
  margin: 25px;
  flex: 1 1 15rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#menu .card-container .card:hover {
  transform: scale(1.1);
}
#menu .card-container .card img {
  height: 60%;
}
#menu .mas-btn {
  text-align: center;
}
#menu .mas-btn button {
  font-size: 17px;
  color: #fff;
  background-color: #3c1b2e;
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
}
#menu .mas-btn button:hover {
  transform: scale(1.1);
}

.mas-btn button {
  font-size: 17px;
  color: #fff;
  background-color: #3c1b2e;
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.mas-btn button:hover {
  transform: scale(1.1);
}

/* Fin menu section */
/* Testimonials section */
#testimonials {
  width: 100%;
  height: auto;
  padding: 0px 30px 30px 30px;
  background-color: #fff;
}
#testimonials .testimonials-title h2 {
  font-size: 30px;
  color: #3c1b2e;
  font-weight: bolder;
  padding-top: 65px;
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  #testimonials .testimonials-title h2 {
    padding-right: 20px;
    padding-left: 0px;
  }
}
#testimonials .testimonials-title p {
  font-size: 17px;
  color: #000;
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  #testimonials .testimonials-title p {
    padding-right: 20px;
    padding-left: 0px;
  }
}
#testimonials .card-container {
  padding: 20px 10px;
  flex-wrap: wrap;
  margin-top: 40px;
}
#testimonials .card-container .testimonial-card {
  background-color: #3c1b2e;
  margin: 25px;
  flex: 1 1 15rem;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#testimonials .card-container .testimonial-card .testimonial-img {
  margin: 15px auto;
  width: 80%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid #3c1b2e;
}
#testimonials .card-container .testimonial-card .card-body {
  color: #fff;
  text-align: center;
  margin: auto 0px;
}
#testimonials .card-container .testimonial-card .card-body h5 {
  margin-top: 25px;
}
#testimonials .card-container .testimonial-card .card-body p {
  padding-top: 15px;
}

/* Fin testimonials section */
/* Contact section */
#contact {
  padding: 30px 0px 30px 0px;
  width: 100%;
  height: auto;
  background-color: #fff;
}
#contact .contact-title {
  text-align: center;
  padding: 20px 10px 30px 10px;
  color: #3c1b2e;
}
#contact .contact-form {
  border-radius: 4px;
  width: 65%;
  height: auto;
  margin: 0 0 2em 0;
}
#contact .form-group label {
  padding-top: 10px;
  color: rgb(0, 0, 0);
}
#contact .form-group input[type=text] {
  background-color: #fff;
  border: none;
  border: 1px solid #3c1b2e;
  border-radius: 4px;
  width: 100%;
  padding: 0.5em;
  font-size: 17px;
}
#contact .form-group input[type=email] {
  background-color: #fff;
  border: none;
  border: 1px solid #3c1b2e;
  border-radius: 4px;
  width: 100%;
  padding: 0.5em;
  font-size: 17px;
}
#contact .form-group textarea {
  resize: none;
  width: 100%;
  padding: 5px 8px 8px 10px;
  background-color: #fff;
  border: none;
  border: 1px solid #3c1b2e;
  border-radius: 4px;
  font-size: 17px;
}
#contact .form-group button {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #3c1b2e;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
}

/* Fin contact section */

/*# sourceMappingURL=style.css.map */
